.menu-opener{
	float: right;
	width:40px;
	height:40px;
	background:#600;
	position:relative;
	display: none;
}
.menu-opener:before,
.menu-opener:after,
.menu-opener span{
	background:#fff;
	position:absolute;
	top:50%;
	left:25%;
	right:25%;
	height:4px;
	margin-top:-2px;
	transition:all 0.2s linear;
}
.menu-opener:before,
.menu-opener:after{
	content:'';
	top:30%;
}
.menu-opener:after{top:70%;}
.menu-open .menu-opener span{opacity:0;}
.menu-opener:hover{opacity:.9;}
.menu-open .menu-opener:after,
.menu-open .menu-opener:before{
	-moz-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	transform:rotate(45deg);
	top:50%;
	left:15%;
	right:15%;
}
.menu-open .menu-opener:after{
	-moz-transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	transform:rotate(-45deg);
}